button {
    background: none;
    border: none;
    padding: 10px;
    border-radius: 5px;
    transition: 0.1s;
    cursor: pointer;
    /* box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; */
}

button:hover {
  background-color: blanchedalmond;
  background: #ebe9e9;
}

.add-project-btn {
  padding: 3px;
  display: grid;
  place-items: center;
  color: grey;
}

.fullscreen-btn {
    /* position: fixed; */
    bottom: 0px;
    left: 0px;
    /* background: grey; */
    color: white;
    /* padding: 10px; */
    border-top-right-radius: 5px;
    z-index: 2;
}

.close-details-button {
    position: absolute;
    top: 10px;
    right: 10px;
} 

.details-button {
    padding: 7px;
    /* border: 1px solid rgb(143, 143, 252); */
    border-radius: 5px;
    /* box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; */
}

.nav-toggle {
    display: grid;
    place-items: center;
    /* padding: 5px; */
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px; */
}

.nav-toggle:hover {
  background: initial;
}

/* .submit-task {
  background: #db4c3f;
  color: white;
} */

.submit {
  background: #db4c3f;
  color: white;
}

.submit:hover {
  color: black;
}

.cancel {
  background-color: black;
  color: white;
}

.cancel:hover {
  color: black;
}



  