:root {
    --low-priority: rgb(167, 238, 167);
    --medium-priority: rgb(240, 220, 107);
    --high-priority: rgb(247, 124, 120);
}

.details-window, .edit-window, .delete-window {
    width: min(700px, 90vw);
    min-height: 300px;
    position: fixed;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%) scale(1);
    z-index: 20;
    background: white;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    opacity: 1;



     /* outline: 9999px solid rgba(0,0,0,0.5); */
    /* animation: altDisplayEnter 0.3s; */


    /* animation: altDisplayEnter 0.4s; */
    /* will-change: transform, opacity; */
}

@keyframes displayEnter {
    0% {
        opacity: 0;
        /* top: 40%; */
        /* transform: translate(-50%, -50%) scale(1);  */
    }
    100% {
        opacity: 1;
    }
}
@keyframes altDisplayEnter {
    0% {
        opacity: 0;
        top: 40%;
        transform: translate(-50%, -50%) scale(1); 
    }
    2% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

label {
    /* background: khaki; */
    width: 50%;
}

.details-window {
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* background: var(--medium-priority); */
    /* background-color: whitesmoke; */
    top: 50%;
    left: 50%; 
}
.details-added {
    top: 7px;
    left: 7px;
}
.details-label {
    bottom: 7px;
    right: 7px;
}

.details-added, .details-label {
    color: grey;
    font-size: 11px;
    font-weight: bold;
    opacity: 0.6;
    position: absolute;
}


/* .close-details-button {
    position: relative;
} */


.details-window > div:first-child {
    display: flex;
}

.details-window div:nth-child(2), .details2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 20px; */
    width: 100%;
    text-align: left;
    /* background-color: khaki; */
}

.details-other {
    /* background-color: red; */
    

    /* width: 100%; */
    /* margin-top: 20px; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-self: start;
}

.details-other  .details-values {
}

.details-description {
    text-indent: 40px;
    /* min-height: 100px; */
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description-label, .details-title-label {
    /* background-color: yellowgreen; */
    align-self: flex-start;
    color: grey;
    margin-top: 20px;
    margin-bottom: 5px;
}


.details-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    /* width: 200px; */
    color:rgb(105, 51, 34);
    /* text-decoration: underline; */
    text-align: left;
}


.details-priority {
    /* border: 1px solid red; */
    /* align-self: center; */
    border-radius: 4px;
    padding: 5px;
    color: rgb(80, 80, 80);
    /* background: yellow; */
    /* box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; */
}


.priority-meter {
    color: black;
    display: flex;
    flex-direction: column;
    width: 60px;
    font-size: 14px;
    font-weight: bold;

    
    position: sticky;
    z-index: 2000;
    bottom: 0;
    left:0;
}

.priority-meter > * {
    padding-left: 4px;
    border-radius: 3px;
}

.low {
    background-color: var(--low-priority);
}
.medium {
    background-color: rgb(240, 220, 107);

}
.high {
    background-color: var(--high-priority);
}

.details-low {
    /* background-color: rgb(128, 226, 128);
    color: white; */
}
.details-medium {
    /* background-color: rgb(207, 207, 57);
    color: black; */
}
.details-high {
    /* background-color: rgb(243, 118, 118);
    color: white; */
}

@media only screen and (max-width: 500px) {
    .details-window {
        width: 100vw;
        min-height: 50vh;
        /* margin-top: 1vh; */
        /* z-index: 200; */
    }
}





