:root {
    --low-priority: rgb(167, 238, 167);
    --medium-priority: rgb(240, 220, 107);
    --high-priority: rgb(247, 124, 120);
}

.details-window, .edit-window {
    width: min(700px, 90vw);
    min-height: 300px;
    /* height: max(300px, 70vh); */
    position: fixed;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%) scale(1);

    

    /* top: 0px; */
    /* transform: translate(-50%, -0%) scale(1); */


    z-index: 20;
    background: white;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    opacity: 1;
}

@media screen {
    
}

.details-window {
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: var(--medium-priority);
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%) scale(1);
}

/* .close-details-button {
    position: relative;
} */


.details-window div:first-child {
    display: flex;
}

.details-window div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    text-align: left;

}

.details-description {
}


.details-title {
    font-size: 20px;
    font-weight: bold;
    /* width: 200px; */
    color:rgb(82, 116, 102);
    text-decoration: underline;
}
.details-label {
    font-size: 12px;
    font-weight: bold;
    opacity: 0.4;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.details-priority {
    /* border: 1px solid red; */
    /* align-self: center; */
    border-radius: 4px;
    padding: 5px;
    color: rgb(80, 80, 80);
    background: yellow;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.priority-meter {
    color: black;
    display: flex;
    flex-direction: column;
    width: 60px;
    font-size: 14px;
    font-weight: bold;

    
    position: sticky;
    z-index: 2000;
    bottom: 0;
    left:0;
}

.priority-meter > * {
    padding-left: 4px;
    border-radius: 3px;
}

.low {
    background-color: var(--low-priority);
}
.medium {
    background-color: rgb(240, 220, 107);

}
.high {
    background-color: var(--high-priority);
}





