.label-input {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.edit-label {
    height: 30px;
}

textarea {
    resize: vertical;
}

input, textarea, select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(209, 209, 209);
    /* border: none; */
    height: 50px;
}

.edit-title-input {
    display: grid;
    place-items: center; 
}

.editCreate-form {
    /* min-height: 80%; */
    width: 100%;
    /* background: green; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
} 



.submit-edit {
    background: pink;
    padding: 10px;
    border-radius: 5px;
}

.editCreate-form > div:nth-child(2), .editCreate-form > div:first-child {
    flex-direction: column;
    display: flex;
    gap: 20px;
}

.edit-details-input {
    height: 100px;
}

.edit-window {
    position: fixed;
    width: min(700px, 90vw);
    padding: 10px;
    /* background: pink; */
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    /* transform: translate(-50%, -50%) scale(1); */
}

.close-edit-button {
    /* position: absolute;
    top: 10px; */
    background: none;
    padding: 0;
    top: 5px;
}

@media only screen and (max-width: 500px) {
    .editCreate-form {
        grid-template-columns: initial;
        grid-template-rows: 1fr 1fr;
        gap: 5px;
    } 

    .close-edit-button {
        /* background: rgb(204, 204, 204); */
        background: none;
        position: fixed;
        top: 30px;
    }
    .edit-window {
        border-radius: 0;
        width: min(700px, 100vw);
        height: max(800px, 100vh);
    }

    input, textarea, select {
        padding: 5px;
        border-radius: 5px;
        border: 1px solid rgb(209, 209, 209);
        height: 30px;
    }
    .edit-title-input {
        height: 50px;
    }
  }


  