:root {
    --nav-width: 300px;
    --header-height: 50px;
    --header-background: #db4c3f;
    --header-color: white;

    --content-background: rgb(255, 255, 255);
    /* --content-text: white; */

    --nav-background: #fafafa;
}

:root.dark {
    --content-background: rgb(12, 17, 36);
    --content-text: white;
    --nav-color: white;


}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,p,body, span {
    margin: 0;
    padding: 0;
}


body {
    min-height: 100%;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    font-family: sans-serif;
    overflow: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
    display: none;
  }


  ::-webkit-scrollbar {
      width: 0px;
  }
  
   
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }
   
  ::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(181, 214, 172);
    border-radius: 10px;
  }



  /* Hide scrollbar for IE, Edge and Firefox */


header {
    width: 100vw;
    height: var(--header-height);
    background-color: rgb(238, 238, 238);
    background: rgb(176, 240, 151);
    /* background: rgb(253, 155, 155); */
    /* background: rgb(122, 122, 122); */
    background: pink;
    background: #db4c3f;
    color: white;
    padding: 0 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    /* z-index: 50; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    font-size: 18px;
}

h1 {
    font-size: 18px;
}

header div:nth-child(2) {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

nav {
    position: fixed;
    background: whitesmoke;
    background-color: rgb(238, 238, 238);
    background: var(--nav-background);
    height: 100vh;
    top: var(--header-height);
    width: var(--nav-width);
    left: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: 0.4s;
    z-index: 0;

    /* background-image: url("/src/images/To\ do\ list-amico-red.svg"); */
    background-repeat: no-repeat;
    background-position: center;
    color: var(--nav-color);

}

nav > div:first-child, nav > div:nth-child(2) {
    /* background-color: black; */
    gap: 20px;
}

/* .nav-top  {
    gap: 5px;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    background-color: white;
} */

nav p {
    font-size: 15px;
    color: rgb(92, 92, 92);
    font-weight: 100;
}

.nav-close {
    left: -350px;
}



.nav-fade-out {
    
}

 .content {
    padding: 10px;
    width: calc(100vw - var(--nav-width));
    margin-left: var(--nav-width);
    margin-top: var(--header-height);
    height: calc(100vh - 36px);
    /* min-height: 100vh; */
    background: rgb(255, 253, 248);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    transition: 0.3s;
    /* background: rgb(253, 249, 211); */
    background-image: url("/src/images/To\ do\ list-amico-red.svg");
    background-image: url("/src/images/To\ do\ list-amico-grey.svg");
    background-image: url("/src/images/To\ do\ list-pana.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
    /* background-color: rgb(247, 105, 86); */
    background-color: rgb(255, 255, 255);
    /* background-color: rgb(253, 249, 211); */


    background-color: var(--content-background);
    color: var(--content-text);
;

}



/* .content::before {
    content: ' ';
    display: block;
    position: fixed;
    
    margin-top: var(--header-height);
    width: calc(100vw - var(--nav-width));
    left: var(--nav-width);

    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-image: url("/src/images/To\ do\ list-pana.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
    background-color: blue;
  } */



.content  * {
    position: relative;
}

.content > div:first-child {
    background-color: blueviolet;
}

.content-top {
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* align-self: flex-start; */
    justify-self: flex-start;
    width: 84%;
    width: 42%;

    max-width: 70vw;
}

.project-label {
    font-size: 26px;
    /* width: 84%; */
    /* max-width: 67vw; */
    font-weight: 700;
    color: black;
}


.content-first {
    width: 96vw;
    display: flex;
    justify-content: space-between;
    width: 84%;
    max-width: 67vw;
    font-weight: 700;
    color: black;

    font-size: 12px;
    align-items:flex-end; 
}


.current-date-time {
    color: var(--header-background);
    color: grey;
}

.content-expand {
    width: 100vw;
    margin-left: 0;
}

.todo-content {
    width: 95%;
    max-width: 70vw;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 2px 0;
    overflow-y: scroll;
    /* margin-bottom: 5px; */
    /* background: rgb(245, 245, 245); */
}

.attrib {
    position: fixed;
    bottom: 0;
    color: rgba(0, 0, 0, 0.733);
    font-size: 10px;
}

.header-date, .header-time {
    font-size: 10px;
    font-weight: 800;
    color:rgb(110, 110, 110);
}

.overlay {
    /* backdrop-filter: blur(1px); 
    The issue causing the slow down all along!
    */ 

    background-color: rgba(4, 14, 27, 0.808);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* transition: 0.3s; */
    z-index: 10;
    animation: closeOverlay 0.3s;    
}



.overlay-display-none {
   height: 0;
   width: 0;
   animation: overlayExit 0.3s;
   opacity: 0;
}

@keyframes overlayExit {
    0% {
        opacity: 1;
        width: 100vw;
        height: 100vh;
    }

    99% {
        width: 100vw;
        height: 100vh;  
        opacity: 0;
    }
    100% {     
        height: 0;
        width: 0;
    }
}


@keyframes closeOverlay {
    0% {
        opacity: 0;
    }
    1% {
        bottom: 0;
        opacity: 0;
    }
    100% {
         opacity: 1;
    }
 }



.display-none {
    position: fixed;
    /* top: 40%; */
    transition: 0.3s;
    opacity: 0;
    animation: displayExit 0.3s; 
    transform:  scaleY(0);


    top: 35%;
}

@keyframes displayExit {
    0% {
         transform: translate(-50%, -50%) scaleY(1);
         opacity: 1;
    }
    70% {
        opacity: 0;
    }
    99% {
        transform: translate(-50%, -50%) scaleY(1);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, -50%) scaleY(0); 
    }
}


.filter-blur {
    filter: blur(1px);
}

hr {
    width: 100%;
}

.projects {
    display: flex;
    flex-direction: column;
}

.projects > div:first-child {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
}

.projects > div:first-child {
    display: flex;
    align-items: center;
}

.project-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
    /* background-color: bisque; */
    height: 65vh;
    /* direction: rtl; */
}



/* .select-project {
    height: 30px;
    display: flex;
    align-items: center;
    transition: 0.3s;
    border-radius: 5px;
    padding: 20px;
    cursor: pointer;
}


.select-project:hover {
    background: #ebe9e9;
}

.project-selected {
    background-color: #ebe9e9
} */


@media only screen and (max-width: 500px) {
    :root {
        --header-height: 40px;
    }
    .todo-content {
        max-width: unset;
    }
    .content {
        width: 100vw;
        
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
        background-color: rgb(255, 246, 246);
        background-size: 70%;
        background-image: none;
    }

    .project-label {
        font-size: 20px;
    }
    .content-first {
        max-width: initial;
        width: 96vw;
        overflow: hidden;
        white-space: nowrap;    
    }

    .content::before {
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0.6;
        background-image: url("/src/images/To\ do\ list-pana.svg");
        /* background-image: url("/src/images/To\ do\ list-amico-pink.svg"); */
        background-repeat: no-repeat;
        background-position: center;
        background-size: 70%;
      }

    nav {
        width: var(--nav-width);
        /* width: 70vw; */
        z-index: 40;
    }
    header {
        padding-left: 0px;
        padding-right: 5px;
        z-index: 40;
    }

    .details-button {
        display: none;
    }
  }


