.todo-item {
    transition: 0.2s;
    font-weight: 200;
    width: 95%;
    height: 40px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-content: center;
    cursor: pointer;
}

.todo-item:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
}

.todo-item div {
    display: flex;
    gap: 10px;
    align-items: center;
}

.todo-item div:nth-child(2) {
    gap: 10px;
}

.date {
    font-size: 10px;
    color: #db4c3f;
}

.task-complete {

}


.add-task {
    display: flex;
    align-items: center;
    gap: 5px;
    /* align-self: flex-start; */
    color: grey;
}

.add-task:hover {
    color: #db4c3f;
    background: initial;
}


.title {
    background: blanchedalmond;
    width: 100%;
    height: 70%;
    /* display: flex;
    align-items: center; */

    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    display: inline-block;
    padding: 7px 0;
    /* padding-top: 7px; */
    /* padding-bottom: 7px; */

    /* text-decoration: line-through;
    opacity: 0.5; */
}

.edit-button {
    height: 20px;
}

.edit-button:hover {
    /* background: #ebe9e9; */
   
}

.details-button {
    /* background-color: blue; */
    /* z-index: 20; */
}


.title-complete {
    text-decoration: line-through;
}
.todo-complete {
    opacity: 0.4;
}

@media only screen and (max-width: 500px) {
    .todo-item div:nth-child(2) {
        gap: 10px;
    }
    .title {
        width: 70%;
        max-width: 180px;
    }
  }